services:
  db:
    image: postgis/postgis:15-3.3
    container_name: hack_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      retries: 10
      timeout: 5s
    volumes:
      - pgdata:/var/lib/postgresql/data

  ollama:
    image: ollama/ollama:latest
    container_name: hack_ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama
    healthcheck:
      test: ["CMD-SHELL", "ollama list >/dev/null 2>&1 || exit 1"]
      interval: 10s
      retries: 20
      timeout: 5s

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  app:
    build: .
    container_name: hack_app
    depends_on:
      db:
        condition: service_healthy
      ollama:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
      OLLAMA_URL: http://ollama:11434/api/generate
      RABBIT_URL: amqp://guest:guest@rabbitmq:5672/
      DGIS_KEY: ${DGIS_KEY}

  pipeline:
    build: .
    container_name: hack_pipeline
    depends_on:
      db:
        condition: service_healthy
      ollama:
        condition: service_healthy
      rabbitmq:
        condition: service_started
    environment:
      API_URL: http://app:8000
      DATABASE_URL: ${DATABASE_URL}
      OLLAMA_URL: http://ollama:11434/api/generate
      RABBIT_URL: amqp://guest:guest@rabbitmq:5672/
      DGIS_KEY: ${DGIS_KEY}
    command: ["python", "-m", "app.pipeline.consumer"]
    restart: always

volumes:
  pgdata:
  ollama: